@media(max-width:768px){
    
    .box{
        border: 2px solid rgb(161, 201, 176);
        border-radius: 15px;
        margin: 10px;
        margin-top: 90px;
    }

    .setting_box{
        background-color: white;
        height: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .setting_box_nav{
        display: flex;
        justify-content: left;
        width: 100%;
        min-height: 30px;
        border-bottom: 2px solid rgba(145, 145, 145, 0.76); 
    }
    .setting_box_main{
        min-height: 300px;
        padding: 10px
    }

    .delete_account_div{
        width: 100%;
    }.delete_account_div_title{
        width: 100%; font-size: 18px; margin-bottom: 20px;
    }.delete_account_div_text{
        width: 100%; border: 2px solid rgba(145, 145, 145, 0.76); ; margin-bottom: 10px; padding: 10px; border-radius: 8px; font-size: 10px;
    }

    ul{
        display: flex;
    }li{
        margin-right: 20px;
        margin-bottom: 5px;
        margin-top: 5px;
    }li button{
        color:  rgb(81, 79, 79);
        border-radius: 15px;
        font-size: 13px;
        width: 60px;
        height: 30px;
        background-color: white;
        border: none;

    }li button:hover{
        cursor: pointer;
        background-color: rgb(223, 244, 231);
    }

}
/* ------------------------------------------------------------------- */

@media(min-width:768px){

    .setting_box{
        display: flex;
        background-color: white;
        border-radius: 10px;
        height: auto;
        margin: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .setting_box_nav{
        display: flex;
        justify-content: center;
        width: 20%;
        min-height: 30px;
        border-right: 2px solid rgba(145, 145, 145, 0.76); 
    }
    .setting_box_main{
        min-height: 300px;
        padding: 10px;
        padding-left: 20px;
        font-size: 15px;
    }

    .delete_account_div{
        margin: 20px;
        width: 100%;
    }.delete_account_div_title{
        width: 100%; font-size: 18px; margin-bottom: 20px;
    }.delete_account_div_text{
        width: 100%; border: 2px solid rgba(145, 145, 145, 0.76); ; margin-bottom: 10px; padding: 10px; border-radius: 8px; font-size: 10px;
    }


    li{
        margin-right: 20px;
        margin-bottom: 5px;
        margin-top: 5px;
    }li button{
        color: rgb(81, 79, 79);;
        border-radius: 15px;
        font-size: 12px;
        width: 80px;
        height: 30px;
        background-color: white;
        border: none;
    }li button:hover{
        cursor: pointer;
        background-color: rgb(223, 244, 231);
    }
}

.setting_social button{
    width: 200px;
    height: 20px;
    font-size: 12px;
}

.label_div{
        margin-top: 20px;
        margin-bottom: 10px;
}
.setting_box input{
        font-size: 13px;
        height: 25px;
        width: 100%;
        padding: 10px;
}.setting_social button{
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(223, 244, 231);
    color: black;
}.setting_social button:disabled{
    cursor:default;
    background-color: rgb(178, 201, 187);
}
.setting_box_main button{
    border-radius: 5px;
    background-color: rgb(223, 244, 231);
    color: black;
}.setting_box_main button:disabled{
    cursor:default;
    background-color: rgb(178, 201, 187);
}

.delete_button{
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(223, 244, 231);
    color: black;
}
