
/* 중앙 박스*/

@media (max-width: 768px){
    .endbox {
        min-height: 250px;
        margin: 10px;
        padding: 10px;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
    }
}

@media (min-width: 768px){
    .endbox {
        min-height: 250px;
        margin: 10px;
        padding: 10px;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
    }
}
