@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Gowun+Dodum&family=Playwrite+CO+Guides&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* 모든 요소에 border-box 적용 */
}

h2 {
    border-bottom: 2px solid #2c422c;
    padding-bottom: 5px;
    color: #333;
}
p {
    margin: 10px 0;
    color: #666;
}

a {
    color: #000000;
    /* font-weight: 500; */
    text-decoration: none;
}a:hover {
    color: #4CAF50;
    cursor: pointer;
}.user_href{
    color: #4b4949d0;
    font-weight: 500;
}

li{
    list-style-type: none;
}

.forum_button{
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    color: #00000081;
    cursor: pointer;
    background-color: rgb(191, 238, 209);
    border-radius: 5px;
    border: none;
    white-space : nowrap;
}.forum_button:hover{
    background-color: rgb(161, 201, 176);
}.forum_button:disabled{
    background-color: rgb(161, 201, 176);
    cursor: default;
}

.forum_button_2{
    padding: 10px;
    font-size: 13px;
    cursor: pointer;
    color: #00000081;
    background-color: rgb(191, 238, 209);
    border-radius: 5px;
    border: none;
    white-space : nowrap;
}.forum_button_2:hover{
    background-color: rgb(161, 201, 176);
}.forum_button_2:disabled{
    background-color: rgb(161, 201, 176);
    cursor: default;
}

button{
    font-family: "Gowun Dodum", serif;
    font-weight: 400;
    font-style: normal;

    border: none;
    background-color: #00000000;
    color: black;
  }
button:hover{
    cursor: pointer;
}
pre{
    font-family: "Gowun Dodum", serif;
    font-weight: 400;
    font-style: normal;
}
textarea{
    font-family: "Gowun Dodum", serif;
    font-weight: 400;
    font-style: normal;
}


@media (max-width: 768px){

    .head_nav { display: none;}
    .head_ctl{ display: none; }

    header {
        background-color: #ffffff;
        color: rgb(43, 63, 55);
        border-bottom: 1px solid rgb(44, 44, 44);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;

        font-family: 'Dongle', sans-serif;
        font-weight: 400;
        font-size: 25px;

    }.head_body{
        height: 60px;
        display: flex;
        align-items: center;
        padding-left: 10px;
    }.head_main{
        align-items: center;
        padding-right : 10px;
        margin-right: 10px;
    }.logo_href{
        font-size: 18px;
    }
    

    .modal_div{
        display: flex;
        align-items: center;
        position: relative;
    }.modal_button{
        background-color: #00000000;
        border: none;
        min-width: 40px;
        height: 40px;
    }.modal_nav_button_div {
        display: none;
        border-radius: 3px;
        box-shadow: 0 2px 3px rgba(48, 47, 47, 0.522);
        background-color: white;
        position:absolute;
        top: 95%;
        left: -50%;
        padding: 3px;
    }.modal_nav_button_div div{
        display: flex;
        justify-content: center;
        margin: 10px;
        min-width: 70px;
        height: 40px;
    }

    .head_mobile_ctl{
        display: flex;
        justify-content: right;
        align-items: center;
        width: 100%;
    }.modal_search_button_div{
        display: none;

        min-width: 200px;
        border-radius: 3px;
        box-shadow: 0 2px 3px rgba(48, 47, 47, 0.522);

        border: 2px solid rgb(161, 201, 176);
        background-color: rgb(255, 255, 255);
        font-size: 22px;

        position:absolute;
        top: 95%;
        right: 0%;
        padding: 5px;
        border-radius: 20px;
    }.head_ctl_search{
        width: 100%;
    }.search_box {
        border: none;
        width: 100%;
        height: 30px;
        outline: none;

        font-size: 13px;

        border-bottom: 1px solid black;

    }.head_ctl_search button{
        border: none;
        margin-right: 5px;
        height: 30px;
        width: 30px;
        border-radius: 10px;


        background-color: rgb(161, 201, 176);

    }
    .modal_user_button_div{
        display: none;
        position:absolute;
        top: 80%;
        right: 1%;
    }.head_ctl_user{

        font-size: 16px;
        margin-left: 20px;
        padding-left: 15px;
        padding-right: 15px;
        min-width: 130px;
        border: 2px solid rgb(161, 201, 176);
        background-color: rgb(255, 255, 255);
        box-shadow: 0 2px 3px rgba(48, 47, 47, 0.522);
        text-align: center;
        border-radius: 10px;
    }.head_ctl_user a{
        font-size: 18px;
    }.head_ctl_user div{
        margin-bottom: 10px;
    }
    

    body {
        line-height: 1.6;
    }

    .container {
        min-height: 1000px;
        margin-top: 50px;
        margin-bottom: 10px;
        border-radius: 8px;
        justify-content:center;

        /* background-color: #000000; */

        /* font-family: "Gowun Dodum", serif;
        font-weight: 400;
        font-style: normal; */
    }
    .sidebox {
        width: 100%;
        margin-bottom: 10px;
    }

    .box {
        max-width: 768px;
    
        font-size: 12px;
        color: #333;
        padding: 10px;
        
        justify-content: center;
        align-items: center;
    }    
    
    #page_box{
        min-height: 80px;
        background-color: rgb(255, 255, 255);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
        border-top: 3px solid rgba(102, 102, 102, 0.233);
    
    }#page_box div{
        margin: 10px;
        justify-content: center;
        align-items: center;
    }#page_box_center{
        display: none;
    }


    footer {
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #ffffff ;
        box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);

        font-family: 'Dongle', sans-serif;
        font-weight: 400;
        font-size: 20px;
        color: #666;
      }
    
      .footer_box {
        min-height: 100px;
        border: none;
        width: 100%;
      }
    
      .footer_company_logo {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
      }.footer_logo{
        font-size: 30px;
      }
      .footer_company_info_cate {
        text-align: center;
        line-height: 1.0;
        border-bottom: 1px black;
        margin-bottom: 10px;
      }
      .footer_company_info {
        text-align: center;
        line-height: 1.0;
      }
}





@media (min-width: 768px){
    .head_mobile_nav{ display: none; }
    .head_mobile_ctl{ display: none; }
    

    header {
        background-color: #ffffff;
        color: rgb(43, 63, 55);
        border-bottom: 1px solid rgb(44, 44, 44);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;

        /* font-family: 'Dongle', sans-serif; */
        font-weight: 200;

    }.head_body {
        display: flex;
        width: 100%;
        height: 60px;
        justify-content: center;
        white-space : nowrap;
    }
    .head_main{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }.logo_href{
        font-size: 23px;
    }
    .head_nav {
        display: flex;
        min-width: 300px;
        align-items: center;
        margin-left: 20px;

        font-size: 20px;
    }.head_nav div{
        text-align: center;
    }.head_nav_button {
        margin: 20px;
        text-align: center;
    }.head_ctl{
        padding: 5px;
        display: flex;
        min-width: 200px;
        justify-content: space-between;
        align-items: center;
    }.head_ctl_search{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        border-radius: 20px;
        border: 2px solid rgb(161, 201, 176);
    }.search_box {
        border: none;
        width: 100px;
        height: 25px;
        font-size: 13px;
        outline: none;
        vertical-align: middle;
    }.search-icon{
        vertical-align: middle;
    }.search_button{
        border: none;
        margin-right: 5px;
        background-color: #00000000;

        font-family: 'Dongle', sans-serif;
        font-weight: 400;
        font-size: 20px;

    }.search_button:hover {
        color: #4CAF50;
    }.modal_pc_div{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 70px;
        height: 60px;

    }.modal_pc_button_div{
        display: none;
        border-radius: 3px;
        box-shadow: 0 2px 3px rgba(48, 47, 47, 0.522);
        border: 1px solid black;
        background-color: white;
        position:absolute;
        top: 45px;
        right: -10%;
        padding: 5px;
    }.head_ctl_user{
        font-size: 13px;
        margin-left: 10px;
        min-width: 130px;
        text-align: center;
        border-radius: 10px;
    }.head_ctl_user a{
        font-size: 15px;
    }.head_ctl_user div{
        margin: 10px;
    }

    body {
        width: 100%;
        height: 100%;
    }

    .container {
        display: flex;
        min-height: 900px;
        width: 100%;
        margin: auto;
        margin-top: 60px;
        margin-bottom: 60px;
        padding: 20px; 
        border-radius: 8px;
        justify-content:center;

        /* font-family: "Gowun Dodum", serif;
        font-weight: 400;
        font-style: normal; */
    }

    .sidebox {
        font-size: 30px;
        background-color: #af1e1ef4;
        min-width: 200px;
        height: 100%;
    }

    .box {
        width: 800px;
        background-color: rgb(223, 244, 231);
    
        font-size: 14px;
        color: #333;
        border-radius: 20px;
    
        padding: 10px;
        
        justify-content: center;
        align-items: center;
    }

    #page_box{
        min-height: 80px;
        background-color: rgb(255, 255, 255);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
        border-top: 3px solid rgba(102, 102, 102, 0.233);
    
    }#page_box div{
        margin: 10px;
        justify-content: center;
        align-items: center;
        
        font-size: 17px;
    }#page_box_center{
        width: 80%;
        text-align: center;
    }#page_box_center a{
        margin-right: 5px;
    }#page_box_center span{
        margin-right: 5px;
        font-size: 22px;
        color: #4CAF50;
    }

    footer {
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #ffffff ;
        box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);

        font-family: 'Dongle', sans-serif;
        font-weight: 400;
        font-size: 23px;
        color: #666;

      }
    
      .footer_box {
          align-items: center;
          justify-content: center;
          display: flex;
          min-height: 100px;
          border: none;
          width: 100%;
      }
    
      .footer_company_logo {
          width: 200px;
          text-align: center;
          margin-right: 10px ;
          border-right: 1px solid rgba(122, 122, 122, 0.877);

          font-family: "Playwrite CO Guides", serif;
          font-weight: 400;
          font-style: normal;
      }.footer_logo{
        font-size: 25px;
      }
      .footer_company_info_cate {
          width: 500px;
          line-height: 1.0;
          border-bottom: 1px black;
      }
      .footer_company_info {
          text-align: left;
          font-size: 19px;
          line-height: 1.0;
      }
}





