
@media (max-width: 768px){
    .endbox {
        min-height: 250px;
        margin: 10px;
        padding: 10px;

        border-radius: 10px;
    }
    .weather_info_box{
        min-width: 150px;
        background-color: white;
        padding: 20px;
        border-radius: 20px;

        font-family: 'Dongle', sans-serif;
        font-weight: 400;
        font-size: 20px;

	}.weather_info{
        display: flex;
        margin-top: 20px;
    }.weather_icon{
        display: flex;
        min-width: 120px;
        margin-right: 10px;
        align-items: center;
        justify-content: center;

        background-color: rgb(223, 244, 231);

        border-radius: 20px;

    }.weather_img{
        width: 130px;
    }.weather_detail{
        width: 100%;
        line-height: 0.8;
        font-size: 30px;
    }.weather_detail div{
        border-bottom: 1px solid rgb(161, 201, 176);
        margin-top: 8px;
    }

    .list_title_box{
        font-size: 15px;
        margin-top: 3px;
        
    }.list_title_box div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }.post_list_info{
        justify-content: right;
        display:flex;
        font-size: 14px;
        align-items: center;
    }

}

@media (min-width: 768px){
    .endbox {
        min-height: 250px;
        margin: 10px;
        padding: 10px;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
    }

    .weather_info_box{
		position: absolute;
		top: 110px;
		border: 2px solid rgb(144, 184, 159);
        background-color: white;
		padding: 10px;
		border-radius: 15px;
        margin: 10px;
        font-family: 'Dongle', sans-serif;
        font-weight: 400;
        font-size: 20px;
	}.weather_icon{
        display: flex;
        justify-content: center;
        background-color: rgb(223, 244, 231);
        border-radius: 20px;
    }
    .weather_img{
        width: 80px;
    }
    .weather_info{
        font-size: 25px;
    }.weather_detail div{
        border-bottom: 1px solid rgb(161, 201, 176);
    }

    .list_title_box{
        display: grid;
        grid-template-columns: 80% 20%;
        font-size: 16px;
        margin-top: 5px;
    }.list_title_box div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }.post_list_info{
        justify-content: right;
        display:flex;
        font-size: 14px;
        align-items: center;
    }

}


ul{
    padding: 10px;
}
li{
    padding: 5px;
    list-style-type: none;
    border-bottom: 1px solid black;
} li:last-child{
    border-bottom: none;
}

