@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Gowun+Dodum&family=Playwrite+CO+Guides&display=swap');

a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}a:hover {
    color: #4CAF50;
    cursor: pointer;
}



body{
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
} 


@media (max-width: 768px){
    .login_box{
        width: 300px;
        padding: 20px;
        min-height: 130px;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
    
        border: 1.2px solid rgb(214, 212, 212);
    }
    .alertbox{
        width: 90%;

        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
        margin-bottom: 30px;
        text-align: center;
        border-radius: 20px;
        border: 1.2px solid rgb(214, 212, 212);
    }
    
}@media (min-width: 768px){
    .login_box{
        width: 300px;
        padding: 20px;
        min-height: 130px;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        border: 1.2px solid rgb(214, 212, 212);
    }
    
    
    .alertbox{
        width: 300px;

        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
        margin-bottom: 30px;
        text-align: center;
        border: 1.2px solid rgb(214, 212, 212);
    }

}

.logo_div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_href{
    font-family: 'Playwrite CO Guides', serif; 
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
}

.alert_span{
    color: rgb(247, 66, 66);
    font-size: 11px;
}
.hint{
    color: rgba(52, 54, 52, 0.685);
    font-size: 11px;
    font-weight: bold;
}




p{
    /* 중앙정렬, 선 */
    color: rgb(148, 148, 148);
    display: flex;
    align-items: center;
    text-align: center;
}
p::before, p::after{
    border-bottom: 1px solid rgb(99, 98, 98);
    flex: 1;
    content: "";
    margin: 0 10px;
}
button{
    width: 100%;
    margin-top: 20px;
    height: 30px;
    background-color: rgb(210, 245, 221);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
a {
    margin-bottom: 10px;
}

.button_login_github{
    display: flex;
    background-color: rgb(217, 228, 218);
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}.button_login_naver{
    display: flex;
    background-color: rgb(3, 199, 90);
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(151, 192, 167);
}

.login_input_div{
    width: 100%;
    padding: 3px;
    min-height: 80px;
    justify-content: center;
}

input{
    width: 100%;
    margin-top: 9px;
    margin-bottom: 9px;
    height: 30px;
    font-size: 13px;
    padding-left: 5px;
}
