.alert_span{
    color: rgb(247, 66, 66);
    font-size: 11px;
}
.hint{
    color: rgba(52, 54, 52, 0.685);
    font-size: 11px;
    font-weight: bold;
}

body{
    font-size: 13px;

    height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
} 


.login_box{
    
    padding: 20px;

    min-height: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;

    border: 1.2px solid rgb(214, 212, 212);
}

.login_box div{
    margin: auto;
    padding: 3px;
    width: 300px;
    min-height: 80px;
    justify-content: center;

}

p{
    /* 중앙정렬, 선 */
    color: rgb(148, 148, 148);
    display: flex;
    align-items: center;
    text-align: center;
}
p::before, p::after{
    border-bottom: 1px solid rgb(99, 98, 98);
    flex: 1;
    content: "";
    margin: 0 10px;
}
button{
    width: 400px;
    margin-top: 20px;
    height: 30px;
    background-color: rgb(210, 245, 221);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
a {
    margin-bottom: 10px;
}

.button_login_github{
    display: flex;
    background-color: rgb(217, 228, 218);
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}.button_login_naver{
    display: flex;
    background-color: rgb(3, 199, 90);
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(151, 192, 167);
}

input{
    margin-top: 9px;
    margin-bottom: 9px;
    width: 100%;
    height: 30px;
}

.alertbox{
    width: 300px;

    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    margin-top: 30px;
    text-align: center;
    border: 1.2px solid rgb(214, 212, 212);
}