<% title = pagetype; %> 

<link rel="stylesheet" href="/public/css/forum_upload.css">


<div class="box">
    <div class="forum_list_box">
        <div class="forum_post_box">
            <label>- 게시판 종류
            <div style="margin: 8px; width: 100%;">
                <select id="selected_category" name="selected_category" class="selected_category" style="font-size: 12px; padding: 5px; margin-bottom: 5px;">
                    <option value="info">정보</option>
                    <option value="qa">QA</option>
                    <option value="life">생활</option>
                </select>
            </div>
            </label>

            <label for="title">- 제목
                <div style="margin: 8px; width: 100%;">
                    <input type="text" id="title" name="title" class="title_input" value="<%= post_info ? post_info.title : '' %>" required  aria-required="true" placeholder=" 제목을 입력하세요.." maxlength="100">
                </div>
            </label>

            <label>- 첨부
                <div style="display: flex; align-items: center; border: 1px solid black; border-radius: 5px; margin: 5px; width: 100%; background-color: white;">
                    <input class="file_input" type="file" id="imageInput" accept="image/*">
                </div>
                <div style="margin-left: 20px; font-size: 13px; color: green;">
                    5mb 이하, .png / .jpeg / .gif 형식 파일
                </div>
            </label>
            
            <label>- 본문
                <div class="textbox" id="text" contenteditable="true" aria-required="true" aria-placeholder="글쓰기" aria-multiline="true" spellcheck="true"></div>
            </label>

            <!-- 불필요 -->
            <input type="hidden" id="text_input" name="text_input" value="<%= post_info ? post_info.text : '' %>"> 


            <div class="text_length_display">
                <div id="text_length_div">1</div>
                &nbsp;/&nbsp;
                <div>2000</div>
            </div>

            <!-- 수정 ->  -->
            <input type="hidden" id="post_id_hidden" name="Post_id_hidden" value="<%= content_id ? content_id : '' %>">
            <div id="submit_div">
            <% if(post_info){ %>
                <button type="button" class="forum_button_2" id="put_submit">수정하기</button>
            <% } else {%>
                <button type="button" class="forum_button_2" id="post_submit">게시하기</button>
            <% } %>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('selected_category').value = "<%= pagetype %>"
</script>
<script src="/public/js/forum_upload.js"></script>
<script src="/public/js/forum_upload_post.js"></script>


