<% title = 'issue' %>

<link rel="stylesheet" href="/public/css/forum_issue.css">

<div class="box">
    <div style="height: auto; margin: 10px; padding: 20px; background-color: white; border-radius: 5px;">
        <div style="border: 2px solid rgba(102, 101, 101, 0.24); border-radius: 10px;">
            <div class="list_header">
                <div class="list_title">
                    <h4>이슈 리스트</h4>
                </div>
                <div class="list_nav">
                    <nav style=" border-radius: 10px;">
                        <ul>
                            <li><div><button type="button" class="nav_btn" id="manage">관리</button></div></li>
                            <li><div><button type="button" class="nav_btn" id="complaint">신고</button></div></li>
                            <!-- <li><div><button type="button" class="nav_manage">삭제</button></div></li> -->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <div class="list_main">
            <div class="list_main_nav">
                <span></span>
            </div>
            <div style="min-height: 200px;">
                <ul class="list_ul">
                    <!-- 내용 -->
                </ul>
            </div>
            <div style="display: flex; justify-content: center; padding: 20px;">
                <div id="page_box">
                    <!-- 페이징  -->
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/public/js/forum_issue.js"></script>