<% title = ( nickname ? nickname : "설정" )%>
<link rel="stylesheet" href="/public/css/forum_setting.css">

<div class="box">
    <div class="setting_box">
        <div class="setting_box_nav">
            <nav id="setting_nav">
                <ul>
                    <li id="info_li">
                        <button type="button" id="setting_info_button">회원정보</button>
                    </li>
                    <li id="config_li">
                        <button type="button" id="setting_config_button">계정관리</button>                    
                    </li>
                </ul>
            </nav>
        </div>
        <div class="setting_box_main" id="setting_box_main">
        </div>
    </div>
    <div class="setting_box">
        <div class="delete_account_div" id="delete_account_div">
            <div class="delete_account_div_title"><b>계정탈퇴</b></div>
            <div class="delete_account_div_text">
                    회원 탈퇴시 대상 계정은 60일 동안 <b>비활성화</b> 처리되며, 회원가입에 이용된 정보는 모두 보관하게 됩니다. <br>
                    60일이 지난 후, 계정에 귀속 저장된 아이디, 이메일, 닉네임, 비밀번호는 모두 삭제되어 <b>복구</b>할 수 없습니다. <br><br>
                    
                    작성된 게시물은 삭제되지 않으며, 익명처리 후 본 웹서비스에 귀속됩니다.
            </div>
            <div>
                <div style="display: flex; justify-content: right; align-items: center; font-size: 12px;">
                    <input type="checkbox" id="accept_check" style="width: 11px;"> 
                    &nbsp;계정 탈퇴에 대한 상기 내용을 이해하고, 동의합니다.
                </div>
                <div style="display: flex; justify-content: right; align-items: center;">
                    <button type="button" class="delete_button"> 계정 탈퇴</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/public/js/forum_setting_info.js"></script>
<script src="/public/js/forum_setting_config.js"></script>
<script src="/public/js/forum_setting.js"></script>



