<!-- log_in.ejs ( 로그인 ) -->
<% title = "login"; %>


<body>
    <%- include('layout/log_sign.ejs')%>
    <div style="width: 80%; display: flex; flex-direction: column; align-items: center;">
        <div class="login_box">
            <div class="logo_div"><a href="/" class="logo_href"> MyPage </a></div>
            <p> SNS 로그인 </p>
            <a class="button_login_github" href="/login/github">
                <img src="public/img/github-logo.png" width="30px" alt="github_logo">
                <img src="public/img/github-text.png" width="70px" alt="github_logo">
            </a>
            <a class="button_login_naver" href="/login/naver">
                <img src="public/img/naver-logo.png" height="30px" alt="Naver_login_img">
                <img src="public/img/naver-text.png" height="25px" alt="Naver_text_img">
            </a>
            <p> 계정 로그인 </p>

            <div>
                <div class="login_input_div">
                    <div>아이디</div>
                    <input type="text" id="username" name="username" placeholder="아이디 입력">   
                    <span class="alert_span" id="error_id"></span> 
                </div>

                <div class="login_input_div">
                    비밀번호
                    <input type="password" id="password" name="password" placeholder="비밀번호 입력">
                    <span class="alert_span" id="error_pw"></span>
                </div>

                
                
                <button id="login_button" type="button">로그인</button>
            </div>

            <div>아직 회원이 아니신가요? <a href="/signup">회원가입</a></div>

            <div id="login_alert" 
                style="display: none; margin-top: 10px;  color: red;">
            </div>
        </div> 
        <div style="margin-top: 10px; padding: 5px; border-radius: 10px; border: 1px solid rgb(0, 0, 0); width: 150px;">
            <p> 테스트 계정 </p> 
            ID: test1
            <br>
            PW : Ghkstest1!
        </div>
    </div>
</body>

<head>
    <script src="/public/js/forum_login.js"></script>
</head>