<% title = "signup";%>

<script>
    alert("현재 운영되는 본 웹사이트에서는 개인정보를 수집하지 않습니다. \n회원가입 시도시 실제처리는 실시되지 않으며, 자동으로 로그인 페이지로 이동됩니다.");
</script>

<body>
    <%- include('layout/log_sign.ejs')%>
    <div style="width: 80%; display: flex; flex-direction: column; align-items: center;">
        <% if (social_request) {%>
            <div class="alertbox">
                <p>알림</p>
                <span class="hint">
                    소셜 계정을 연동하기 위한
                    <br>회원가입을 진행해주세요.
                </span>
            </div>
        <% } %>
        <div class="login_box">
            <div class="logo_div"><a href="/" class="logo_href"> MyPage </a></div>
            <p> SNS 회원가입 </p>
            <a class="button_login_github" href="/login/github">
                <img src="public/img/github-logo.png" width="30px" alt="github_logo">
                <img src="public/img/github-text.png" width="70px" alt="github_logo">
            </a>
            <a class="button_login_naver" href="/login/naver">
                <img src="public/img/naver-logo.png" height="30px" alt="Naver_login_img">
                <img src="public/img/naver-text.png" height="25px" alt="Naver_text_img">
            </a>
            <p> 회원가입에 필요한 정보를 기입해주세요 </p>
            <div id="signup_input_div">
                <div style="margin-top: 5px;">
                    아이디 
                    <input type="text" id="username" name="username"  placeholder="4 ~ 15글자 이내">    
                    <span class="alert_span" id="error_id"></span>
                </div>

                <div style="margin-top: 8px;">
                    이메일 
                    <input type="email" id="email" name="email"  placeholder="username@mypagehhh.shop">
                    <span class="alert_span" id="error_email"></span>

                </div>  

                <div style="margin-top: 8px;">
                    닉네임 
                    <input type="text" id="nickname" name="nickname"  placeholder="두 글자이상 15자 이내">
                    <span class="alert_span" id="error_nk"></span>
                </div>  

                <div style="margin-top: 8px;">
                    비밀번호 
                    <input type="password" id="password" name="password"  placeholder="8자 이상, (영 대,소문자), 숫자, 특수문자 필수">
                    <span class="alert_span" id="error_pw"></span><br>
                    <span class="hint">※ 특수문자 !@#$%^&*()_+=- 사용가능</span>
                </div>  
                <div style="margin-top: 8px;">
                    비밀번호 확인
                    <input type="password" id="password_check" name="password_check" placeholder="비밀번호 재확인">
                    <span class="alert_span" id="error_pwc"></span>
                </div>  

                <button id="signup_button" type="button" disabled>회원가입</button>
            </div>
            이미 아이디가 존재하신가요? <a href="/login">로그인</a>
        </div>  
    </div>
</body>

<head>
    <script src="/public/js/forum_signup.js">
    </script>
</head>



