{% load static %}
<!DOCTYPE html> <!-- 게시판 목록 카테고리 정보 관련 게시판 -->
<html lang="ko">
<head>
	<meta charset="UTF-9">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> MyPage - info </title>
	<link rel="stylesheet" href="{% static 'mainpage/main_style.css' %}">
</head>
<body>
	{% include 'common/header_cate.html'%}

	<div class="container">
		<div>
		</div>
		<div class="box"> <!-- class 임시 -->
			{% if latest_content_list %}
			<ul>
				{% for text_list in latest_content_list %}
				<li>
					<div>
						{{text_list}}
					</div>
				</li>
				{% endfor%}
			</ul>
			{% endif%}
		</div>
	</div>

	{% include 'common/footer_company.html' %}
</body>
</html>

<style>
	.box {
		width: 400px;
	}
	li{
		height: 30px;
		list-style-type: none ;
		border-bottom: 1px solid black;
	}
</style>
