{% extends "common/forum_main.html" %}

{% block title %} MyPage - QA {% endblock %}


{% block body %}
<!-- 게시판 타입 설명 -->
<div class="forum_box">
	~~~ 게시판입니다.
</div>

<!-- 게시판 출력 -->
<div class="forum_box">
	{% if latest_content_list %}
	<ul>
		{% for text_list in latest_content_list %}
		<li>
			<div class="forum_list_box_main">
				<div>닉네임(미구현) / {{ text_list.date_created|date:"d" }}</div>
				<div id="forum_list_box">
					<div>
					<a href="{% url 'detail' text_list.Content_type text_list.id %}">{{text_list}}</a>
					</div>
					<div>
					view - {{text_list.view_count}}
					</div>
				</div>
			</div>
		</li>
		{% endfor%}
	</ul>
	{% endif%}
</div>
{% endblock%}