<footer>
    <div class="footer_box">
        <div class="footer_company_logo">
            <button type="button" style="border: none; background-color: rgba(255, 255, 255, 0);"><a href="/" class="footer_logo" style="font-family: 'Playwrite CO Guides', serif; font-weight: 400; font-style: normal;">MyPage</a></button>
        </div>
        <div>
            <div class="footer_company_info_cate">
                "본 홈페이지는 학습을 위한 목적으로 운영됩니다."
            </div>
            <div class="footer_company_info">
                Email: dls5233@yahoo.com <br>
                &copy; 2025 HWANHEE IN
            </div>
        </div>
    </div>
</footer>