<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-9">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>	MyPage - <%- title %></title>
	<link rel="stylesheet" href="/public/css/forum.css">
</head>
<body>
	<%- include('header_nav.ejs')%>
	
	<div class="container">
		<%- body %>
	</div>

	<%- include('footer_company.ejs') %>
</body>
</html>
