<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-9">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>	MyPage - <%- title %></title>
	<link rel="stylesheet" href="/public/css/main_style.css">
</head>
<body>
	<%- include('header_cate.ejs')%>
	
	<div class="container">
		<div class="sidebox"></div>
		<div class="box">
			<!-- 상속 오버라이딩 지점-->
			<%- body%>
		</div>
		<div class="sidebox"></div>
	</div>

	<%- include('footer_company.ejs') %>
</body>
</html>
