<header>
    <nav class="head_body"> 
        <div class="head_main"> 
            <a href="/">메인</a>
        </div>
        <div class="modal_button"><button class="mobile_nav_button" type="button">메뉴</button></div>
        <div class="head_nav"> 
            <div class="head_nav_button" id="popular"><a href="/popular"> 인기 </a></div>
            <div class="head_nav_button" id="info"><a href="/info"> 정보 </a></div>
            <div class="head_nav_button" id="qa"><a href="/qa">Q&A </a></div>
            <div class="head_nav_button" id="life"><a href="/life">생활 </a></div>
            <div class="head_nav_blank" style="width: 300px;"></div>
        </div>
        <div class="head_mobile_nav"> 
            <div class="head_mobile_nav_button" id="mobile_popular"><a href="/popular"> 인기 </a></div>
            <div class="head_mobile_nav_button" id="mobile_info"><a href="/info"> 정보 </a></div>
            <div class="head_mobile_nav_button" id="mobile_qa"><a href="/qa">Q&A </a></div>
            <div class="head_mobile_nav_button" id="mobile_life"><a href="/life">생활 </a></div>
        </div>
        <div class="header_ctl">
            <div class="head_ctl_search">
                <form action="/search" method="get">
                    <img src="../public/img/search-icon.png" class="search-icon" style="width: 12px; object-fit: contain; margin-right: 5px;" alt="검색">
                    <input type="text" name="search_keyword" class="search_box" placeholder="검색" required>
                    <button class="search_button" type="submit">검색</button>
                </form>
            </div>
            <div class="head_ctl_user">
                <% if (nickname) {%>
                    <a href='/user/<%= userId %>'><%= nickname %></a>님 / 
                    <a href="/logout">로그아웃</a> 
                <% } else {%>
                    <a href="/login?returnUrl=%2">로그인</a> 
                    / 
                    <a href="/signup?returnUrl=%2">회원가입</a>
                <%} %>
            </div>
        </div>
        <div class="header_mobile_ctl">
            <div class="modal_button"><button class="mobile_search_button" type="button">검색</button></div>
            <div class="modal_button"><button class="mobile_user_button" type="button">계정</button></div>
        </div>

        <div class="head_mobile_ctl_search"> 
            검색
            <div class="head_ctl_search">
                <form action="/search" method="get">
                    <img src="../public/img/search-icon.png" class="search-icon" style="width: 12px; object-fit: contain; margin-right: 5px;" alt="검색">
                    <input type="text" name="search_keyword" class="search_box" placeholder="검색" required>
                    <div style="width: 100%; justify-content: right;">
                        <button class="search_button" type="submit">검색</button>
                        <button class="search_cancel_button" type="button">취소</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="head_mobile_ctl_user"> 
            <div class="head_ctl_user">
                <% if (nickname) {%>
                    <div style="font-weight: bold; font-size: 13px; border-bottom: 2px solid rgba(70, 69, 69, 0.74);"><a href='/user/<%= userId %>'><%= nickname %></a>님 </div>
                    <div><a href="/logout">로그아웃</a></div>
                <% } else {%>
                    <div style="font-weight: bold; font-size: 13px; border-bottom: 2px solid rgba(70, 69, 69, 0.74);">비회원</div>
                    <div><a href="/login?returnUrl=%2">로그인</a> </div>
                    <div><a href="/signup?returnUrl=%2">회원가입</a></div>
                <%} %>
            </div>
        </div>
    </nav>
</header>

<script>

window.addEventListener('resize', function(){
    const mobile_search_box = document.querySelector('.head_mobile_ctl_search');
    const mobile_user_box = document.querySelector('.head_mobile_ctl_user');
    const mobile_nav_box = document.querySelector('.head_mobile_nav');

    mobile_search_box.setAttribute('style','display: none;');
    mobile_user_box.setAttribute('style','display: none;');
    mobile_nav_box.setAttribute('style','display: none;');
    
});  

// window.addEventListener('click', function(){
//     const mobile_search_box = document.querySelector('.head_mobile_ctl_search');
//     const mobile_user_box = document.querySelector('.head_mobile_ctl_user');
//     const mobile_nav_box = document.querySelector('.head_mobile_nav');

//     mobile_search_box.setAttribute('style','display: none;');
//     mobile_user_box.setAttribute('style','display: none;');
//     mobile_nav_box.setAttribute('style','display: none;');
    
// });  

document.addEventListener('click',function(event){

    if(event.target.classList.contains('mobile_nav_button')){
        const parent_div = event.target.closest('.head_body');
        if(parent_div.querySelector('.head_mobile_nav').style.display === "block" ){
            parent_div.querySelector('.head_mobile_nav').style.display = "none";
        }else{
            parent_div.querySelector('.head_mobile_nav').style.display = "block";
        }
    }

    if(event.target.classList.contains('mobile_search_button') || event.target.classList.contains('search_cancel_button') ){
        const parent_div = event.target.closest('.head_body');
        if(parent_div.querySelector('.head_mobile_ctl_search').style.display === "block" ){
            parent_div.querySelector('.head_mobile_ctl_search').style.display = "none";
        }else{
            parent_div.querySelector('.head_mobile_ctl_search').style.display = "block";
        }
    }

    if(event.target.classList.contains('mobile_user_button')){
        const parent_div = event.target.closest('.head_body');
        if(parent_div.querySelector('.head_mobile_ctl_user').style.display === "block" ){
            parent_div.querySelector('.head_mobile_ctl_user').style.display = "none";
        }else{
            parent_div.querySelector('.head_mobile_ctl_user').style.display = "block";
        }
    }

});

</script>
